
GITHUB_TOKEN=


DB_USER=exam_project
DB_PASSWORD=password
DB_HOST=mysql
DB_PORT=3306
DB_NAME=github_users


REDIS_ADDRESS=redis:6379
REDIS_PASSWORD=password

REDIS_TTL_SEC=300

REST_ADDRESS=:8080

GRPC_ADDRESS=:9090

# Concurrency-fetch configs
USERS_PER_PAGE=30
WORKER_POOL_SIZE=5
MAXIMUM_FETCH_RETRIES=3
DELAY_BETWEEN_UPSERTS_MS=200
MAXIMUM_CONSECUTIVE_EMPTY=1